nav {
  height: 50px;
  background-color: lightgrey;
  position:fixed;
  width: 100%;
  text-align: center;
}

.inline-block{
  display: inline-block;
  padding: 15px;
}

.left{
  background-color: rgb(128, 0, 115);
  height: 5000px;
  float: left;
  width: 30%;
}

.right{
  background-color: rgb(0, 213, 255);
  height: 5000px;
  float: left;
  width: 70%;
}

/* target the class of inline-block below */

/* target the class of .left below */

/* target the class of .right below */
